@CHARSET "UTF-8";

#accordian {
	background: #333333;

	color: white;
	box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px
		rgba(255, 255, 255, 0.5);
}

.accordion {
	font-size: 13px;
	line-height: 30px;

	text-transform: uppercase;
	border: 1px solid #1d1d1d;
	border-radius: 3px;
}

.accordion>ul {
	margin: 0;
	padding: 0;
}

.accordion ul, .accordion li {
	list-style: none;
}

.accordion>ul>li {
	background: #292929;
	margin: 0;
	padding: 0;
}

.accordion>ul>li ul {
	transition: .3s ease-out;
	-webkit-transition: .3s ease-out;
	-moz-transition: .3s ease-out;
	opacity: 0;
	margin: 0;
	padding: 0;
}

.accordion>ul>li li {
	background: #333;
}

.accordion a {
	display: block;
	color: #ccc !important;
	text-align: center;
	text-decoration: none !important;
}

.accordion>ul>li>a {
	border-top: 1px solid #353535;
	border-bottom: 1px solid #161616;
}

.accordion>ul>li ul li a {
	height: 0;
	transition: .3s ease-out;
	-webkit-transition: .3s ease-out;
	-moz-transition: .3s ease-out;
}

.accordion>ul>li:hover ul li a {
	height: 30px;
}

.accordion>ul>li:hover ul {
	opacity: 1;
}

.accordion>ul>li li:hover {
	box-shadow: inset 0 1px #4077CB, inset 0 -1px #4077cb;
	background: #3e6db5;
}

#accordionTest {
	display: block;
	color: #ccc !important;
	text-align: center;
	text-decoration: none !important;
	border-top: 1px solid #353535;
	border-bottom: 1px solid #161616;
}

/* -------------header------------ */
#headerText {
	font-size: 14px;
	float: right;
	margin: 16px 10px 0px 0px;
}

#headerButton {
	float: right;
	margin: 10px 10px 0px 10px;
}
#logoImage {
	width: 160px;
	margin: 10px 0px 0px 0px;
}


/* -------------navigation------------ */
#navi {
	width: 150px;
	padding:0px;
	margin:10px 30px 0px 0px;
	float: left;
}

/* -------------contents------------ */
#contents {
	padding:0px;
	margin: 10px 0px 0px 180px;
}

h3 {
	margin:0px 0px 10px 0px;
}


/* -------------mall.jsp------------ */
#inputText {
	font-size: 14px;
}

#inputBox {
	width: 300px;
}

#inputSelect {
	width: 300px;
}

#inputFormGroup {
	margin: 10px;
}

#inputButton {
	position:relative;
	left: 20px;
}