@CHARSET "UTF-8";

#boardTitle {
	text-align: center;
}

#description {
	font-size: 14px;
	color: gray;
}

#orderTable {
	font-size: 14px;
	text-align: center;
}

#tableContents {
	position: relative;
}

#radioText {
	text-align: left;
}

/* paging */
#paging {
	font-size: 14px;
	position: relative;
	top: 0px;
	margin : 0 auto;
	left: 455px;
}