@CHARSET "UTF-8";

html,body{margin:20;padding:}
body{font: 76% arial,sans-serif}
p{margin:0 10px 10px}
a{display:block;color: #000000;}


div#navigation .accord_menu {width:100%; background:#B9CAFF; color:#6986a6;}
div#navigation .accord_menu .outer_li{background:#6986a6; color:#fff;width:100%; padding-bottom:5px;}
div#navigation .accord_menu .outer_li .inner_li {display:none;}
div#navigation .accord_menu .outer_li .inner_li>li {background:#bed0e6; color:#000000; margin:5px;}; ​


div#header h2{height:40px;line-height:40px;margin:0;
  padding-right:20px;background: #EEE;color: #000000; text-align: right;}
div#header img{width: 20.5%; height: 80px; float: left;}
div#header a{margin-left : 15px; padding-left: 10px; padding-right : 10px; float: right; background-color: #87cefa; border: 2px solid;}
  
  
div#content p{line-height:1.4}
div#extra{background:#FF8539}
div#footer{background: #333;color: #FFF}
div#footer p{margin:0;padding:5px 10px}

div#wrapper{float:left;width:100%}
div#content{margin: 0 23%}
div#navigation{float:left;width:20%;margin-left:-100%}
div#extra{float:left;width:25%;margin-left:-25%}
div#footer{clear:left;width:100%}
