@CHARSET "UTF-8";

#boardTitle {
	text-align: center;
}

#description {
	font-size: 14px;
	color: gray;
}

#productTable {
	font-size: 14px;
	text-align: center;
}

#tableContents {
	position: relative;
}

#productTableImage {
	width: 90px;
}

#radioText {
	text-align: left;
}

/* paging */
#paging {
	font-size: 14px;
	position: relative;
	top: 0px;
	left: 455px;
}

#productsomeimg {
	width: 300px;
}

#productmainimg {
	width: 400px;
}

#productdetailimg {
	width: 500px;
}
