@CHARSET "UTF-8";

#boardTitle {
	text-align: center;
}

#description {
	font-size: 14px;
	color: gray;
}

#productTable {
	font-size: 14px;
	text-align: center;
}

#tableContents {
	position: relative;
}

#productTableImage {
	width: 90px;
}

#radioText {
	text-align: left;
}

/* paging */
#paging {
	font-size: 14px;
	position: relative;
	top: 0px;
	left: 455px;
}

#productsomeimg {
	width: 300px;
}

#productmainimg {
	width: 400px;
}

#productdetailimg {
	width: 500px;
}

#catelabel {
	font-size: 15px;
	margin-right: 10px;
}

#inputBox {
	width: 210px;
}

#inputText {
	margin-top: 4px;
	font-size: 18px;
}

#inputhead {
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 15px;
	font-weight: 800;
	font-family: "고딕", sans-serif;
}

#inputFormGroup {
	margin-bottom: 17px;
}

#productmainimg {
	margin-left: 90px;
}

#file {
	margin-top: 10px;
}

#btnOk {
	margin-left: 10px;
}

#btnCancle {
	margin-left: 15px;
}

#product_name {
	width: 210px;
}

#product_price {
	width: 210px;
}

#product_maker {
	width: 210px;
}

#product_makedate {
	width: 210px;
}

#productoption_color {
	width: 210px;
}

#productoption_size {
	width: 210px;
}

#productoption_stock {
	width: 210px;
}
#file1{
	margin-top: 10px;
}
#file2{
	margin-top: 10px;
}
#file3{
	margin-top: 10px;
}