@CHARSET "UTF-8";

html, body {
	margin: 20;
	padding:
}

body {
	font: 76% arial, sans-serif
}

p {
	margin: 0 10px 10px
}

a {
	display: block;
	color: #000000;
}

/* --------------- list 화면 css --------------- */

/* secondCategoryMenu1 */
#secondCategoryMenu1 {
	font-size: 14px;
}

/* hr */
hr {
	color: black;
	border: 1px solid silver;
	width: 101%;
	margin: 5px;
}

/* priceArray */
#priceArray {
	font-size: 14px;
	float: right;
}

/* paging */
#paging {
	font-size: 14px;
	position: relative;
	top: 0px;
	left: 455px;
}

/* --------------- listDetail 화면 css ------------- */

/* productExplanImage */
#productExplanImage {
	margin: 0px;
	padding: 0px;
	position: relative;
	left: 39px;
	width: 1140px;
}

/* optionText */
#optionText {
	font-size: 16px;
}

/* exampleInputName2 */
#exampleInputName2 {
	width: 50px;
	text-align: center;
}

/* productDetailSample1 */
#productDetailSample1 {
	width: 540px
}

/* dropdown-menu */
#btn-group1 {
	width: 300px;
}

/* form-control1 */
#form-control1 {
	width: 150px;
	font-size: 14px;
	position: relative;
	top: 0px;
	right: 200px;
}

/* hr1 */
#hr1 {
	color: gray;
	border: 1px solid silver;
	width: 99%;
	margin: 5px;
}

/* productPriceText1 */
#productPriceText1 {
	color: balck;
	font-size: 30px;
}

/* productPriceText2 */
#productPriceText2 {
	color: gray;
	font-size: 30px;
}

/* productPriceText3 */
#productPriceText3 {
	color: gray;
	font-size: 24px;
}

