@CHARSET "UTF-8";

html, body {
	margin:0; 
	padding:0; 
}

body {
	font: 76% arial, sans-serif
}

p {
	margin: 0 10px 10px
}

a {
	display: block;
	color: #000000;
}

/* header */
#header {
	font-size: 14px;
}

#logo {
	width: 255px;
	height: 74px;
}

/* category */
#category {
	font-size: 14px;
}


/* footer */
#footer {
	background-color: black; 
	border-color: black;
	color: white;
	text-align : left;
	padding: 10px;
	margin:0px;
	font-size: 14px;
	width: 1150px;
}

/* category Menu3 */
#categoryMenu3 {
	display: none;
	text-align:left;
}

/* category Menu2 hover */
#categoryMenu2:hover #categoryMenu3 {
	display: block;
}

/* category Menu2 */
#categoryMenu2 {
	text-align:center;
	padding: 0px;
}

/* category Menu1 */
ul {
	list-style: none;
}

/* index image */
#indexImage {
	width: 1140px;
	height: 666px;
}

/* product image */
#productImage{
	width: 230px;
	height: 347px;
}

/* product Contents */
#productContents{
	text-align:center;
}

/* productDiv */
#productDiv{
	padding: 5px;
}