@CHARSET "UTF-8";

html, body {
	margin: 20;
	padding:
}

body {
	font: 76% arial, sans-serif
}

p {
	margin: 0 10px 10px
}

a {
	display: block;
	color: #000000;
}

/* --------------- order 화면 css --------------- */
#boardTitle {
	text-align: center;
}

#description {
	font-size: 14px;
	color: gray;
}

#orderTable {
	font-size: 14px;
	vertical-align:middle;
	/* text-align: center; */
}

#tr_checkBox {
	position: relative;
	top: 52px; 
}

#tableContents {
	position: relative;
	vertical-align:middle;
}

#orderProductImage {
	height: 138px;
	width: 90px;
}

#radioText {
	text-align: left;
}

/* paging */
#paging {
	font-size: 14px;
	position: relative;
	top: 0px;
	left: 455px;
}

#addressHyphen {
	margin: 0px;
	padding: 0px;
	position: relative;
	right: 45px;
	top: 0px;
}

#addressInput1 {
	margin: 0px;
	bottom: 5px;
}

#addressInput2 {
	margin: 0px;
	position: relative;
	right: 90px;
	bottom: 5px;
}

#mailAddress {
	position: relative;
	right: 317px;
	bottom: 5px;
}

#addressInput3 {
	position: relative;
	top: 0px;
}

#addressLabel3 {
	position: relative;
	top: 5px;
	right: 70px;
}

#addressLabel4 {
	position: relative;
	top: 13px;
	right: 70px;
}

#addressInput4 {
	position: relative;
	top: 6px;
}

#phoneInput1 {
	position: relative;
	right: 15px;
}

#phoneHyphen1 {
	position: relative;
	right: 46px;
	top: 5px;
}

#phoneInput2 {
	position: relative;
	right: 95px;
}

#phoneHyphen2 {
	position: relative;
	right: 130px;
	top: 5px;
}

#phoneInput3 {
	position: relative;
	right: 179px;
}

#payImage {
	width: 100px;
	height: 50px;
}

#inlineRadio1 {
	position: relative;
	top: 4px;
}

#inlineRadio2 {
	position: relative;
	top: 4px;
}

#inlineRadio3 {
	position: relative;
	top: 4px;
}

#inlineRadio4 {
	position: relative;
	top: 4px;
}

#inlineRadio5 {
	position: relative;
	top: 4px;
}

#payButton {
	position: relative;
	left: 500px;
}