header {
   border-bottom: 1px solid gray;
   padding: 0px;
}

nav#nav {
   border-right: 1px solid gray;
   width: 200px;
   height: 500px;
   float: left;
}

nav#nav1 {
   border-right: 1px solid gray;
   width: 900px;
   height: 500px;
   float: left;
}



div#STYLE {
   WIDTH: 100%
}

div#content {
   WIDTH: 100%;
}

div#footer {
   border-bottom: 1px solid gray;

}

#write {
	/* position:relative;
	left:500px; */
	text-align:right;
}