#id_hi {
	margin-left: 900px;
}

#logout {
	align: right;
	margin-left: 30px;
}

#menu1 {
	padding-left: 110px;
	padding-right: 110px
}

#menu2 {
	padding-left: 110px;
	padding-right: 110px
}

#menu3 {
	padding-left: 110px;
	padding-right: 110px
}

#menu4 {
	padding-left: 110px;
	padding-right: 110px
}

#maincol {
	margin-top: -20px;
	height: 506px;
}

#admin_login {
	margin-left: 1100px;
}

#admin_logout {
	margin-top: -55px;
	margin-left: 1200px;
}

#user_hi {
	padding: 10px;
	margin-left: 770px;
}

#img01 {
width: 150px; 	
}
#logo{
	    padding-top: 5px;
	
}
#notice_p{
	margin-top: -35px;
}
#search_form{
    margin-left: 40px;
}
#table_notice{
	margin-left: 0px;
}
#write{
	margin-left:1100px
}