#id_hi {
	margin-left: 900px;
}

#logout {
	align: right;
	margin-left: 30px;
}

#menu1 {
	padding-left: 110px;
	padding-right: 110px
}

#menu2 {
	padding-left: 110px;
	padding-right: 110px
}

#menu3 {
	padding-left: 110px;
	padding-right: 110px
}

#menu4 {
	padding-left: 110px;
	padding-right: 110px
}

#maincol {
	margin-top: -20px;
	height: 506px;
}

#admin_login {

    margin-left: 1100px;

}